$borderGray: #eaeaea;
$commonBlue: #2a96f3;
$fontGray: #aaaaaa;
$fontBlack: #101010;
$labelColor: #666666;
$backgroundColor: #f6f6f6;
$avatarSmallSize: 36px;
$avatarMiddleSize: 54px;
$avatarLargeSize: 90px;
$mainColor: $commonBlue;
$tabColor: #c3c3c3;
$tabIconSize: 20px;
$tabLeftSize: 56px;
$tabRightSize: 324px;
$tabRightTitleFontSize: 16px;
$tabRightTitleFontColor: $fontBlack;
$tabRightInsetSize: 20px;
$btnWidth: 88px;
$btnHeight: 32px;
$btnNormalColor: #8bc34a;
$btnRedColor: #f02e2e;
$friendHeaderColor: $borderGray;

$mainPartWidth: 1200px;
$cardBoxMargin: 8px;
$tableCardMargin: 8px;
$titleFontSize: 28px;
$cardTitleFontSize: 22px;
$menuFontSize: 18px;
$bigBaseFontSize: 16px;
$baseFontSize: 14px;

/// new
// colors
$primary-color: #3d93fe;
$primary-background-color: #f0f2f6;
$primary-warning-color: #f02e2e;
$primary-disabled-color: #eaeaea;
$guide-line-color: #eaeaea;
$green-color: #8bd257;
$blue-color: #2b9bf4;
$white-color: #ffffff;
$background-color: #f3f9fb;

// font
$primary-font-family:"Hiragino Sans GB",
"SimHei",
-apple-system,
"Helvetica Neue",
"Arial",
"Segoe UI",
"PingFang SC",
"Hiragino Sans GB",
"STHeiti",
"SimHei",
"Source Han Sans SC",
"Noto Sans CJK SC",
"Source Han Sans CN",
"Noto Sans SC",
"Source Han Sans TC",
"Noto Sans CJK TC",
"FZLanTingHei-R-GBK",
"Lantinghei-SC-Extralight",
"Microsoft JhengHei",
"WenQuanYi Micro Hei",
sans-serif;

// font-colors
$dark-font-color: #000;
$dark-grey-font-color: #666;
$grey-font-color: #aaa;
$disabled-font-color: #dedede;
// font-size
// positions
$padding-gutter: 14px;
$padding-gutter-sm: 10px;
$left-side-nav-width: 56px;
$right-side-nav-width: 294px;
$header-height: 60px;

// button
$button-grey-bg: #eaeaea;
$button-disabled-bg: #dedede;

//padding/margin
$primary-px: 30px, 36px;