<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>ng-app</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div ng-app="app" ng-controller="myController" >
    <input ng-model="vm.expr" type="text" placeholder="Enter an expression"/>
    <h2>{{parseVal}}</h2>
    <p>Email</p>

    <input ng-model="vm.to" type="email" placeholder="Recipient"/>
    <textarea ng-model="vm.emailBody"></textarea>
    <pre>{{vm.previewText}}</pre>
</div>
<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('myController', function($scope, $parse, $interpolate) {
        $scope.vm = {};
        $scope.vm.to = 'ari@fullstack.io';
        $scope.vm.emailBody = 'Hello {{ to }},\n\nMy name is Ari too!';
       $scope.$watch('vm.expr', function(newVal, oldVal, scope) {
            if (newVal !== oldVal) {
                var parseFunc = $parse(newVal);
                $scope.parseVal = parseFunc(scope);
            }
       });

        $scope.$watch('vm.emailBody', function(body) {
            if (body) {
                var template = $interpolate(body);
                $scope.vm.previewText = template({to: $scope.vm.to});
            }
        });
    })
</script>
</body>
</html>